<h1>ご注文ありがとうございます</h1>
<p>注文番号: <%= @order.id %></p>
<p>注文日: <%= @order.created_at.strftime('%Y年%m月%d日') %></p>
<h2>注文詳細</h2>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>数量</th>
      <th>価格</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.total_price) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">合計</td>
      <td><%= number_to_currency(@order.order_items.sum(:total_price)) %></td>
    </tr>
  </tfoot>
</table>
<p>またのご利用をお待ちしております。</p>
