<body>
  <!-- Navigation-->
  <!-- Product section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6"><%= image_tag @product.image, :size => '600x700', class: 'card-img-top mb-5 mb-md-0', alt: @product.name if @product.image.attached? %></div>
        <div class="col-md-6">
          <div class="small mb-1">SKU: BST-498</div>
          <h1 class="display-5 fw-bolder"><%= @product.name %></h1>
          <div class="fs-5 mb-5">
            <span><%= number_to_currency(@product.price, unit: "円", format: "%n%u", precision: 0) %></span>
          </div>
          <p class="lead"><%= @product.description %></p>
          <div class="d-flex">
 <%= form_with(url: cart_items_path(product_id: @product.id), local: true, class: 'd-flex') do |form| %>
  <%= form.number_field :quantity, value: 1, min: 1, class: "form-control text-center me-3", style: "width: 70px" %>
  <%= form.button type: 'submit', class: 'btn btn-outline-dark flex-shrink-0' do %>
    <i class="bi-cart-fill me-1"></i>
    Add to cart
  <% end %>
<% end %>
</div>
        </div>
      </div>
    </div>
  </section>
  <!-- Related items section-->
  <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">Related products</h2>
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <%= render @products %>
      </div>
    </div>
  </section>
</body>
</html>
